<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br>
<!-- // hacer form_for -->
<%= form_for [@post, Comment.new] do |f| %>
	<p> <h2>	<%= f.label :content, "Deja tu comentario:"  %></h2></p>
	<%= f.text_area :content  %>
	<%= f.submit "Enviar"   %>
<% end %>

<h2>Comentarios:</h2>

<% @comments.each do |c| %>
	<hr>
	<p><small><%= time_ago_in_words c.created_at %></small></p>
	<p><%= c.content  %></p>
	<hr>
<% end %>

