<!-- <p id="notice"><%#= notice %></p> -->

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>Likes: <strong> <%= @post.likes.count %></strong></p>

<p>
	<%= unless @post.liked_by? current_user  %>
		<%= link_to 'Me Gusta', like_post_path(@post) %>
	<% else %>
		<%= link_to 'Deshacer Me gusta', like_post_path(@post)  %>
	<% end %>
</p>

<% if can? :edit? , @post %>
	<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>
<br>
<!-- // hacer form_for -->
<% if can? :create, Comment %>
	<%= form_for [@post, Comment.new] do |f| %>
		<p> <h2>	<%= f.label :content, "Deja tu comentario:"  %></h2></p>
		<%= f.text_area :content  %>
		<p><%= f.submit "Enviar"   %></p>
	<% end %>
<% end %>

<h2>Comentarios:</h2>

<% @comments.each do |c| %>
	<hr>
	<p><small><%= time_ago_in_words c.created_at  %></small></p>
	<p><%= c.content  %></p>
	<p><small>Creado por: <%= c.user %></small></p>
	<hr>
<% end %>

